{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'jury/assets/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'jury/assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'jury/assets/css/zabuto_calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'jury/assets/css/style.css' %}">

    <!-- Custom styles for this template -->
    <link href="{% static 'jury/assets/css/style.css' %}" rel="stylesheet" >
    <link href="{% static 'jury/assets/css/style-responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'jury/assets/css/to-do.css' %}">

    <script src=" {% static 'Chart.js' %} "></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
      <script src="{% static 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="accueil" class="logo"><b>UH2C-RECRUTEMENT</b></a>
            <!--logo end-->

            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li>  <a class=logout data-toggle="modal" href="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Déconnexion
                      </a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->

       <!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header black-bg">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="exampleModalLabel">Se déconnecter?</h4>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
          <a class="btn btn-primary" href="logout">Déconnexion</a>
        </div>
      </div>
    </div>
  </div>

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href="accueil.html"><img src="{% static 'jury/assets/img/logo.jpg' %}" class="img-circle" width="140"></a></p>
              	  <h5 class="centered">Espace Jury</h5>

                  <li class="mt">
                      <a href="accueil">
                          <i class="fa fa-dashboard"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="active" href="candidature" >
                          <i class="fa fa-cogs"></i>
                          <span>Candidatures</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper" style="min-height:524px;">
              <div class="row">
                <div class="col-lg-9 main-chart" style="margin-left:16%;margin-top: 20px;">
                       
                    <div class="modal-content" style="background-color: #e4e4dc;width: 500px;">
                        <div class="modal-header black-bg" >
                            <Center><h4 class="modal-title"><strong>Les documents de {{candidat.last_name}} {{candidat.first_name}}</strong></h4></Center>
                        </div>
                        <div class="modal-body">
                        <center>
                        {% for file in folder %}
                           <font color=royalblue size=4px><strong><a href='{{ MEDIA_URL }}user_{{candidat.id}}/{{file}}' target="blank">{{ file }}</a></strong></font><br>
                        {% endfor %}
                        </center>
                        </div>

                        <div class="modal-footer">
                            <a href=approuver/{{candidat.id}}/{{id2}}>
                            <button class="btn btn-primary" type=submit>Approuver</button>
                            </a> 
                            <form method="POST" action=candidatures_offre>
                                {% csrf_token %}
                            <input type="hidden" name=id2 value={{id2}}>
                            <button class="btn btn-default" type=submit style="width: 93px;margin-top: 4px;">Retour</button>
                            </form>
                          </div>
                    </div>

                </div>
             </div>
          </section>
      </section>

                              <!-- Modal -->

                         </div>
                      </section>
                      </div>
                      </div>
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
      <!-- *******************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT *********************************************************************************************************************************************************** -->


              </div><!--/row -->
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer" style="margin-top:0px">
          <div class="text-center">
              2020.UH2C-RECRUTEMENT
              <a href="documents_candidature#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'jury/assets/js/jquery.js' %}"></script>
    <script src="{% static 'jury/assets/js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'jury/assets/js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'jury/assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'jury/assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'jury/assets/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'jury/assets/js/jquery.sparkline.js' %}"></script>


    <!--common script for all pages-->
    <script src="{% static 'jury/assets/js/common-scripts.js' %}"></script>

    <script type="text/javascript" src="{% static 'jury/assets/js/jquery.gritter.js' %}"></script>
    <script type="text/javascript" src="{% static 'jury/assets/js/gritter-conf.js' %}"></script>

    <!--script for this page-->
    <script src="{% static 'jury/assets/js/sparkline-chart.js' %}"></script>
	<script src="{% static 'jury/assets/js/zabuto_calendar.js' %}"></script>

	<!--<script type="text/javascript">
        $(document).ready(function () {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: 'Welcome to Dashgum!',
            // (string | mandatory) the text inside the notification
            text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo. Free version for <a href="http://blacktie.co" target="_blank" style="color:#ffd777">BlackTie.co</a>.',
            // (string | optional) the image to display on the left
            image: 'assets/img/ui-sam.jpg',
            // (bool | optional) if you want it to fade out on its own or just sit theref
            sticky: true,
            // (int | optional) the time you want it to be alive for before fading out
            time: '',
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });

        return false;
        });
	</script>
	-->
	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });


        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>


  </body>
</html>
